*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.test{
    margin-left: 2px;
    width: 250px;
    display: inline-block;
    vertical-align:top;
}

body{
    font-family: 'Oswald', sans-serif;
}

/* inizio header */

nav{
    padding: 20px 0px;
    background-color:white;
    height: 70px;
    width: 100%;
    font-size: large;
    position: fixed;
    display: inline-block;
    z-index: 3;
}

nav::after{
    content: "";
    display: table;
    clear: both;
}



.ul-left{
    display: inline-block;
    float: left;
    
    width: 40%;
}

.ul-left li{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px;
    
}

.ul-right{
    display: inline-block;
    float: right;
    width: 30%;
}

.ul-right li{
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
}

nav img{
    height: auto;
    width: 129px;
    
}

.btn{
    border: 2px solid #0061ff;
    padding: 3px 4px;
    background-color: #0061ff;
    color: white;
    display: inline-block;
}
.prova{
    display: inline-block;
    margin-top: 20px;
    
}

.jumbotron{
    padding-top:  40px;
    padding: 60px 80px;
    background-color: #b4d0e7;
    position: relative;
}

.jumbotron h1{
    font-size: 78px;
}

#arrow a{
    color: black;
}

.jumbo-text{
    margin-top: 40px;
    width: 33%;
    font-size: 23px;
}

#min-text{
    font-size: medium;
    margin-top: 5px;
}

#arrow{
    font-size: 50px;
    margin-top: 30px;
    
}

.jumbo-img{
    position: absolute;
    right: 10px;
    top: 335px;
    
}

/* inizio main */
main{
    margin-bottom: 100px;
}

/* zona abbonamenti */
.prezzi{
    margin-top: 200px;
    margin-left: 250px;
}

.prezzi::after{
    content: "";
    display: table;
    clear: both;
}

.prezzi h2{
    font-size: 60px;
}

#abbonamento{
    font-size: 35px;
    margin-bottom: 30px;
    display: block;
}

.casella{
    border: 1px solid black;
    width: 25%;
    display: inline-block;
    float: left;
}

.n2{
    margin: 0px 50px;
}

.icona{
    text-align: center;
    border-bottom: 1px solid black;
}
.casella h4{
    font-size: 30px;
}

.casella-padd{
    margin: 0px 20px;
}

.casella-padd *{
    
    margin-bottom: 10px;
}

.sotto-costo{
    color: gray;
}

.casella-padd li{
    font-size: 14px;
}
.lista-3{
    margin-bottom: 20px;
    list-style-type: none;
}

.simbolo{
    margin: 40px 0px;
    list-style-type: none;
    
}

.btn-lista{
    font-size: 20px;
    padding: 5px 40px;
    text-align: center;
}

.riga{
    margin: 30px 200px;
    margin-left: 0px;
    color: rgb(167, 166, 166);
}

.casella-padd h5{
    font-size: 20px;
}

.lista{
    list-style-type: none;
    margin-bottom: 50px;
}

/* tabella sotto abbonamenti */
.cln{
    border: 1px solid black;
    margin:50px 250px;
    
}

.cln *{
    margin: 16px 0px;
}

.cln .icona{
    font-size: 20px;
    
}

.cln h3{
    font-size: 30px;
    display: inline-block;
    margin-right: 600px;
    padding:0px 20px
    
}
 .cln div{
     padding: 0px 20px;
 }

.btn a{
    color: white;
    text-decoration: none;
    
}

/* inizio immagine due tizi */
.intermezzo{
    margin: 50px 250px;
}

.intermezzo img{
    display: inline-block;
    vertical-align: middle;
}

.intermezzo-dx{
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    margin-left: 100px;
}

.intermezzo-dx h3{
    display: inline-block;
    font-size: 40px;
}
 .intermezzo-dx div{
     font-size: 20px;
 }

.white{
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 20px;
}

/* inizi zona benefici */

.benefici{
    margin: 50px 250px;
}
.benefici h2{
    font-size: 60px;
      
}

.row{
    vertical-align: middle;
    display: inline-block;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.item{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 50px;
    float: left;
}

.item img{
    width: 300px;
    height: auto;
    vertical-align: middle;
}

.centrale {
    margin-left: 50px;
    margin-right: 50px;
}

.item h4{
    font-size: 30px;
    margin: 20px 0px;
}

/* inizio footer */
.first-footer{
    margin-left: 250px;
}

.first-footer h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.first-footer a{
    margin-bottom: 20px;
}

.aziende{
    margin-top: 20px;
}

.aziende::after{
    content: "";
    display: table;
    clear: both;
}

.zona{
    float: left;
    width: 33%;
    height: 400px;
    background-color: blue;
    border: 2px solid black;
}

.zona::after{
    content: "";
    display: table;
    clear: both;
}

.ct{
    background-color: #f5f5f5;
    
}

.img-ct{
    width: 30%;
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
}

#hr-ct{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 400px;
    color: rgb(180, 171, 171);
}

.ct-text{

    width: 80%;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right:50px;
}

.direttore{
    width: 80%;
    display: inline-block;
    padding-left: 50px;
    
}

.quadrato{
    width:50%;
    height: 50%;
    display: inline-block;
    float: left;
    
}

.quadrato img{
    filter: invert(1);
    width: 50%;
    height: auto;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
}

.verde{
    background-color: green;
}

.brown{
    background-color: brown;
}

.azzurro{
    background-color: cornflowerblue;
}

.fluored{
    background-color: red;
}

.clear-red{
    background-color: #d5001f;
}

.ciano{
    background-color: #b4d0e7;
}
 .blu{
     background-color: #0d2481;
 }
.giallo{
    background-color: #ffd830;
}

.pubblicita-aziende{
    height: 300px;
    background-color: #9acfe9;
    vertical-align: middle;
}

.pubblicita-aziende h2{
    display: inline-block;
    color: #61082b;
    width: 600px;
    font-size: 50px;
    margin-left: 150px;
    margin-top: 70px;
}

.pubblicita{
    background-color: white;
    color: black;
    border: 1px solid white;
    font-size: 20px;
    margin-left: 250px;
    margin-top: 100px;
    vertical-align: top;
    padding: 5px 20px;
}

.domande-frequenti{
    margin: 100px 100px;
}

.domande-frequenti h2{
    font-size: 40px;
}

.faq{
    margin: 20px 0px;
}

.domanda{
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.arrow{
    display: inline-block;
    margin-left: 700px;
}

.risposta{
    display: none;
    color: lightslategray;
}

.faq:hover .risposta{
    display: block;
}

.faq:hover .arrow{
    transform: rotate(180deg);
}

.gray{
    color: #e1e1e3;
    border: 1px solid #e1e1e3;
}


.finale{
    background-color: black;
    color: white;
    padding-left: 200px;
    position: relative;
}

.finale::after{
    content: "";
    clear: both;
    display: table;
}


.link-utili{
    float: left;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    list-style: none;
}

.link-utili strong{
    font-size: 23px;
    margin-bottom: 10px;
}

.link-utili li{
    font-size: 16px;
}

.italiano{
    position: absolute;
    bottom: 90px;
    left: 300px;
    border-top: 2px solid white;
}