*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    font-family: 'Oswald', sans-serif;
}

nav{
    padding: 20px 0px;
    background-color:white;
    height: 70px;
    width: 100%;
    font-size: large;
    position: fixed;
    display: inline-block;
    z-index: 3;
}

nav::after{
    content: "";
    display: table;
    clear: both;
}



.ul-left{
    display: inline-block;
    float: left;
    
    width: 40%;
}

.ul-left li{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px;
    
}

.ul-right{
    display: inline-block;
    float: right;
    width: 30%;
}

.ul-right li{
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
}

nav img{
    height: auto;
    width: 129px;
    
}

.btn{
    border: 2px solid #0061ff;
    padding: 3px 4px;
    background-color: #0061ff;
    color: white;
    display: inline-block;
}
.prova{
    display: inline-block;
    margin-top: 20px;
    
}

.jumbotron{
    padding-top:  40px;
    padding: 60px 80px;
    background-color: #b4d0e7;
    position: relative;
}

.jumbotron h1{
    font-size: 85px;
}

#arrow a{
    color: black;
}

.jumbo-text{
    margin-top: 40px;
    width: 33%;
    font-size: 24px;
}

#min-text{
    font-size: medium;
    margin-top: 5px;
}

#arrow{
    font-size: 50px;
    margin-top: 30px;
    
}

.jumbo-img{
    position: absolute;
    right: 10px;
    top: 350px;
    
}

.prezzi{
    margin-top: 200px;
    margin-left: 250px;
}

.prezzi h2{
    font-size: 60px;
}

#abbonamento{
    font-size: 35px;
}

.casella{
    border: 1px solid black;
    width: 25%;
    
}

.icona{
    text-align: center;
    border-bottom: 1px solid black;
}
.casella h4{
    font-size: 30px;
}

.casella-padd{
    margin: 0px 20px;
}

.casella-padd *{
    
    margin-bottom: 10px;
}

.sotto-costo{
    color: gray;
}

.simbolo{
    margin: 40px 0px;
    list-style-type: none;
}

.btn-lista{
    font-size: 20px;
    padding: 5px 40px;
    text-align: center;
}

.riga{
    margin-right: 200px;
}

